{% extends "account/base.html" %}
{% load static %}
{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Change Password</h2>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">
                            Home 
                        </a>
                    </li>

                    <li class="active">Change Password</li>
                </ul>
            </div>
        </div>
        <div class="page-shape">
            <div class="shape1">
                <img src="{% static 'images/shape/1.png' %}" alt="shape">
            </div>
            <div class="shape3">
                <img src="{% static 'images/shape/3.png' %}" alt="shape">
            </div>
            <div class="shape4">
                <img src="{% static 'images/shape/4.png' %}" alt="shape">
            </div>
            <div class="shape5">
                <img src="{% static 'images/shape/5.png' %}" alt="shape">
            </div>
            <div class="shape6">
                <img src="{% static 'images/shape/6.png' %}" alt="shape">
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <section class="signup-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="signup-form">
                        <div class="section-tittle text-center">
                            <h2>Change Password</h2>
                            <p>Please change password an account</p>
                        </div>
                        {% if messages %}
                            <div class="container mt-3">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <div id="form_errors">
                                    {% for _, value in form.errors.items %}
                                        <strong>{{ value }}</strong><br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        {{ form.old_password }}
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        {{ form.new_password1 }}
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        {{ form.new_password2 }}
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="box-btn signup-btn" href="" name="login" id="login" type="submit">
                                        Change
                                    </button>
                                </div>
                                <div class="col-12 text-center">
                                    <p class="al-acc">
                                        Return to home page
                                        <a href="{% url 'home' %}"> Home</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}